<!DOCTYPE html> 
<html> 

<head> 
    <title>FILE UPLOAD DEMO</title>
  <link rel="stylesheet" href="css/style.css">
 
</head> 

<body> 

  
<div id="covid19-animation">
  <div class="back--1"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/1b.svg" alt=""></div>
  <div class="back--2"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/2b.svg" alt=""></div>
  <div class="back--3"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/3b.svg" alt=""></div>
  <div class="back--4"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/4b.svg" alt=""></div>
  <div class="back--5"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/5b.svg" alt=""></div>
  <div class="back--6"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/6b.svg" alt=""></div>
  <div class="back--7"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/7b.svg" alt=""></div>
  <div class="back--8"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/8b.svg" alt=""></div>
  <div class="forg--1"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/1f.svg" alt=""></div>
  <div class="forg--2"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/2f.svg" alt=""></div>
  <div class="forg--3"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/3f.svg" alt=""></div>
  <div class="forg--4"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/4f.svg" alt=""></div>
  <div class="forg--5"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/5f.svg" alt=""></div>
</div>


	<h1>Single File Upload Demo</h1> 

	<form action="/uploadImage"
	enctype="multipart/form-data" method="POST"> 
	
		<span>Upload Profile Picture:</span> 
		<input type="file" name="mypic" required/> <br> 
		<input type="submit" value="submit"> 
	</form> 
</body> 

</html> 
