<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>COVID19 Detection System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/normalize.min.css">
<link rel="stylesheet" href="css/style.css">
<style>
  img {
  height: auto;
  width: 100%;
/* even more control with max-width */
  max-width: 720px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>

</head>
<body>
<!-- partial:index.partial.html -->
<main>
  <header id="app-header" class="app-header">

    <div class="background-container">
      <div id="background-back" class="background"></div>
      <div id="background-front" class="background"></div>
    </div>

    <div class="header-content">
      <div id="covid19-animation">
        <div class="back--1"><img src="logos/1b.svg" alt=""></div>
        <div class="back--2"><img src="logos/2b.svg" alt=""></div>
        <div class="back--3"><img src="logos/3b.svg" alt=""></div>
        <div class="back--4"><img src="logos/4b.svg" alt=""></div>
        <div class="back--5"><img src="logos/5b.svg" alt=""></div>
        <div class="back--6"><img src="logos/6b.svg" alt=""></div>
        <div class="back--7"><img src="logos/7b.svg" alt=""></div>
        <div class="back--8"><img src="logos/8b.svg" alt=""></div>
        <div class="forg--1"><img src="logos/1f.svg" alt=""></div>
        <div class="forg--2"><img src="logos/2f.svg" alt=""></div>
        <div class="forg--3"><img src="logos/3f.svg" alt=""></div>
        <div class="forg--4"><img src="logos/4f.svg" alt=""></div>
        <div class="forg--5"><img src="logos/5f.svg" alt=""></div>
      </div>
      <div id="small-toolbar" class="app-toolbar">

        
        <div id="small-title" class="small-title">COVID 19 Detection with AI</div>     
      
      </div>

      <div id="large-toolbar" class="app-toolbar tall">
        <div id="large-title" class="large-title">COVID 19 Detection with AI</div>
      </div>
    </div>
  </header>

  <div class="card">

    <div class="card-title">COVID-19 Detection with Lungs X Ray Images</div>


    <p>This program allows you to easily distinguish between healthy lungs and diseased lungs using artificial intelligence and deep learning and help you to detect covid 19 .
    </p>
    <p> This program designed and developed by Hamed Pariazar you can contact me from here <a href="http://pariazar.ir" >Website</a> or <a href="https://tlgrm.in/pariazar21">Telegram</a> or Email : Hamedpa21@gmail.com</p>
    <a href="test" class="btn btn-primary">Start Test</a>

  </div>

  <div class="card">

    <div class="card-title">Usage</div>
    <img src="logos/u1.jpg" class="responsive center"/>
  </br>

    <p>Step 1 : Upload Lungs X Ray Image
    </p>
    <p>Step 2 : Find result
    </p>

  </div>

  <div class="card">

    <div class="card-title">Technology used in development</div>
  </br>

    <p>Programming Languages : Python - JavaScript
       
    </p>
    <p>Software Library : Tensorflow - TensorBoard - Numpy - OpenCV - Matplotlib - PIL      
    </p>

  </div>
  <div class="card">

    <div class="card-title">Using CV2</div>
  </br>

  <img src="logos/u5.png" class="responsive center"/>

  </div>

  <div class="card">

    <div class="card-title">API Covid19 Detection</div>
  </br>
  <p>send request and Post file to this address http://185.105.239.28:3000/upload with mypic key</p>
  <p>get result like below:</p>
  <pre>{
    "ip": "2.176.138.235",
    "date": "2020-04-12 13:47:04",
    "result": "100.0 1\nnormal\n"
}</pre>
  <img src="logos/u6.png" class="responsive center"/>

  </div>



  <div class="card">

    <div class="card-title">Model properties</div>
  </br>

    <p>model of this project trained  by thousands lungs x ray images
      the accuracy of this model is 97.62
    </p>
    <p>you can use Dataset from <a href="https://drive.google.com/open?id=1H2UT7FmdarzA-LZgAVoio5CF6Xri8kRK">here</a>
    </p>
    <p>Scalars :</p>
    <img src="logos/u2.png" class="responsive center"/>
    </br>
    <img src="logos/u3.png" class="responsive center"/>
    </br>
    <p>Graphs :</p>
    <img src="logos/u4.png" class="responsive center"/>
    <p>Download Final model and use it with code below on your system :</p>
    <pre>
      import cv2
      import tensorflow as tf
      import numpy as np
      from PIL import Image

      CATEGORIES = ["covid", "normal"]

      def prepare(filepath):
          IMG_SIZE = 70
          img_array = cv2.imread(filepath, cv2.IMREAD_GRAYSCALE)
          ret,thresh1 = cv2.threshold(img_array,85,255,cv2.THRESH_BINARY)
          thresh1 = thresh1/255.0

          new_array = cv2.resize(thresh1, (IMG_SIZE, IMG_SIZE))
          return new_array.reshape(-1, IMG_SIZE, IMG_SIZE, 1)


      model = tf.keras.models.load_model("Final_Model")
      img_tensor =[prepare('input/6.jpg')]

      prediction = model.predict(img_tensor)[0][0]
      classP = model.predict_classes(img_tensor)[0][0]
      print(prediction*100 , classP) 
      print(CATEGORIES[int(prediction)])
    </pre>

  </div>

  
</main>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script><script  src="javascript/script.js"></script>
  <script>
    $('#mobile-nav').click(function(event) {
      $('nav').toggleClass('active');
    });
    </script>

</body>
</html>
